body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}


